<li class="message-container">
  <div class="avatar">
    <img src="http://themodernape.com/wp-content/uploads/2014/09/internet-troll.jpg" />
  </div>
  <div class="message">

    <!-- Only important section    -->
    <p><%= message %></p>
    <!-- End Only important section    -->

    <time><%= Time.now %></time>
  </div>
</li>
