<h1>Chatter</h1>
<div id='messages'>
  <!-- This empty div is where we’ll append all the chat messages coming through the channel. -->
</div>

<form>
  <label>Say something:</label><br>
  <input type='text' id='speaker'>
</form>
