<section class="module">
  <header class="top-bar">
    <div class="left">
      <span class="icon typicons-message"></span>
      <h1>Hangouts</h1>
    </div>

    <div class="right">
      <span class="icon typicons-minus"></span>
      <span class="icon typicons-times"></span>
    </div>
  </header>

  <!-- Only important section  -->
  <ul id="messages">
    <!-- This is where we’ll append all the chat messages coming through the channel. -->
  </ul>
  <input type='text' id='speaker'>
  <!-- End Only important section  -->


</section>
